:root{
    --text-color:violet;
}

h1{
    color:var(--text-color)
}
h2{
    color:var(--text-color)
}
h3{
    color:var(--text-color)
}
.box{
    height: 100px;
    width: 100px;
    background-color: red;
}
.box2{
    height: 100px;
    width: 50%;
    background-color: red;
}